.full-width{
    width:100%
}

.btn-container{
    text-align: end;
}


.gramatic{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 100%;
    background-color: #f6f1f1;
    p{
        margin: 0px;
    }
}